<link rel="import" href="/paper-card/paper-card.html">
<link rel="import" href="/paper-button/paper-button.html">
<link rel="import" href="/vaadin-grid/vaadin-grid.html">
<dom-module id="lic-search">
  <style>
    vaadin-grid {
      margin-top: 1em;
    }

    textarea {
      width: 100%;
      height: 8em;
      border: 1px solid lightgrey;
    }

    paper-button.colored {
      background: #4285f4;
      color: #fff;
    }

    span.buttonholder {
      display: flex;
      justify-content: center;
    }
  </style>
  <template>
    <textarea id="inputArea" placeholder="Paste list of decompiled java files here" on-change="inputChange"
              on-keydown="inputChange" disabled="[[submitting]]"></textarea>
    <br>
    <span class="buttonholder">
      <paper-button raised class="colored" on-click="submit" disabled="[[submitting]]">Submit</paper-button>
    </span>
    <template is="dom-if" if="[[lics.length]]">
      <vaadin-grid items="[[fileDocs]]">
        <table>
          <thead>
          <tr>
            <th>Java filename</th>
            <th>License status</th>
          </tr>
          </thead>
          <colgroup>
            <col name="initialFileName" resizable>
            <col name="lic" resizable>
          </colgroup>
        </table>
      </vaadin-grid>
    </template>
  </template>
  <script>
    Polymer({
      is: 'lic-search',
      properties: {
        submitting: false,
        lics: {
          type: Array,
          value: []
        },
        fileDocs: {
          type: Array,
          value: []
        },
        docs: {
          type: Array,
          value: []
        }
      },
      ready: function () {
        console.log('ready!');
        console.log('submitting =', this.submitting);
        console.log('lics =', this.lics);
      },
      submit: function () {
        console.log('submit!');
        this.submitting = true;
        this.lics = [];
        let fileNames = document.getElementById('inputArea').value.split('\n');
        let fileNamesHash = {};
        fileNames.forEach(name => fileNamesHash[name] = true);
        fileNames = Object.keys(fileNamesHash);
        this.fileDocs = fileNames.map(name => ({
          initialFileName: name,
          lic: 'Processing...'
        }))
        fileNames.forEach(initialFileName => {
          var xhr = new XMLHttpRequest();
          xhr.open("POST", '/api/v1/lics', true);
          //Send the proper header information along with the request
          xhr.setRequestHeader("Content-type", "application/json");
          xhr.onreadystatechange = () => {
            if (xhr.readyState == XMLHttpRequest.DONE) {
              this.submitting = false;
              if (xhr.status !== 200) return;
              let response;
              try {
                response = JSON.parse(xhr.response);
              } catch (error) {
                return console.log('xhr cant parse response, error =', error);
              }
              console.log('xhr response.time =', response.time);
              if (response.error) console.log('xhr response.error =', response.error);
              if (response.success !== true) console.log('xhr no success!');
              console.log('xhr response.lics =', response.lics);
              console.log('xhr response.fileDocs =', response.fileDocs);
              this.lics = response.lics;
              const has = this.fileDocs.map(fd => fd.initialFileName);
              const files = this.fileDocs.map(fd => fd.initialFileName);
              //response.fileDocs.forEach(fd => {
              //  if (has.indexOf(fd.initialFileName) == -1) this.fileDocs.push(fd);
              //})
              response.fileDocs.forEach(fd => {
                const idx = files.indexOf(fd.initialFileName)
                if (idx !== -1) this.fileDocs[idx] = fd;
              })
              this.fileDocs = JSON.parse(JSON.stringify(this.fileDocs));
            }
          };
          xhr.send(JSON.stringify({fileNames: [initialFileName]}));
        })
      },
      inputChange: function () {
        console.log('inputChange!');
        this.lics = [];
        this.submitting = false;
      }
    });
  </script>
</dom-module>
